<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="../styles/app.css" />
		<title>Art Young</title>
	</head>
	<body class="page-container" id="introduction-page-container">
		<div class="header-container">
			<div class="nav-container">
				<a class="name-header" href="../index.html">Art Young</a>
				<nav class="navbar">
					<a class="nav-link viewing" href="introduction.html"
						>Introduction</a
					>
					<a class="nav-link" href="projects.html">Projects</a>
					<a class="nav-link" href="experiences.html">Experiences</a>
					<a class="nav-link" href="passions.html">Passions</a>
				</nav>
			</div>
			<div class="external-link-container">
				<a
					class="external-link-item"
					href="mailto:art.tyoung@tamu.edu"
					target="_blank"
				>
					<img
						src="./images/icons8/icon-gmail-100x100.png"
						alt="bubbles email icon"
					/>
				</a>
				<a
					class="external-link-item"
					href="https://www.linkedin.com/in/young-art/"
					target="_blank"
				>
					<img
						src="./images/icons8/icon-linkedin-100x100.png"
						alt="bubbles linkedin icon"
					/>
				</a>
				<a
					class="external-link-item"
					href="https://github.com/Atsubyo"
					target="_blank"
				>
					<img
						src="./images/icons8/icon-github-100x100.png"
						alt="bubbles github icon"
					/>
				</a>
			</div>
		</div>
		<div class="content-container">
			<section class="wrapper" id="introduction">
				<h2 class="section-header">Introduction</h2>
				<p class="section-paragraph">
					Art Young is a junior and aspiring Spring 2025 graduate at Texas
					A&M University in the College of Engineering majoring in Computer
					Science. His most important motto in life is to never take the
					support of others for granted. He always makes his best effort to
					value and leverage the thoughts of everyone around him in order
					to ensure their voices are heard and acknowledged.
				</p>
			</section>
		</div>
	</body>
</html>
