<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/app.css" />
    <title>Art Young</title>
  </head>
  <body class="page-container" id="experiences-page-container">
    <div class="header-container">
      <div class="nav-container">
        <a class="name-header" href="../index.html">Art Young</a>
        <nav class="navbar">
          <a class="nav-link" href="introduction.html">Introduction</a>
          <a class="nav-link" href="projects.html">Projects</a>
          <a class="nav-link viewing" href="experiences.html">Experiences</a>
          <a class="nav-link" href="passions.html">Passions</a>
        </nav>
      </div>
      <div class="external-link-container">
        <a
          class="external-link-item"
          href="mailto:art.tyoung@tamu.edu"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/gmail-100.svg"
            alt="gmail icon"
          />
        </a>
        <a
          class="external-link-item"
          href="https://www.linkedin.com/in/young-art/"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/linkedin-100.svg"
            alt="linkedin icon"
          />
        </a>
        <a
          class="external-link-item"
          href="https://github.com/Atsubyo"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/github-100.svg"
            alt="github icon"
          />
        </a>
        <a
          class="external-link-item"
          id="instagram-link"
          href="https://instagram.com/art.tyoung?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/instagram-100.svg"
            alt="instagram icon"
          />
        </a>
        <a
          class="external-link-item"
          id="discord-link"
          href="https://discordapp.com/users/447592354610675722"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/discord-100.svg"
            alt="discord icon"
          />
        </a>
        <a
          class="external-link-item"
          id="facebook-link"
          href="https://www.facebook.com/Atsubyo/"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/facebook-100.svg"
            alt="facebook icon"
          />
        </a>
      </div>
    </div>
    <div class="content-container">
      <section class="wrapper" id="experiences">
        <h2 class="section-header">Experiences</h2>
        <div class="pane-container">
          <div class="pane">
            <div class="pane-content">
              <div class="pane-header">
                <h3>JPMorgan Chase & Co.</h3>
                <img src="../assets/icons/chase-144.svg" />
              </div>
              <p>
                Worked within the cybersecurity department where I learned about
                the various underlying processes that go into running a
                functional and robust security operation at the world's largest
                bank including SMTP protocol, scripting, agile, GPO and firewall
                protection, threat modeling, . As a software engineer and site
                reliability engineer, I developed a web application to automate
                existing GPO and firewall management operations. This experience
                has offered me the opportunity to work alongside peers and
                mentors from across many professions and the globe. This unique
                experience has allowed myself to not only discover a broad scope
                of work and operating methods, but a true boilling pot of
                cultures.
              </p>
            </div>
          </div>
          <div class="pane">
            <div class="pane-content">
              <div class="pane-header">
                <h3>Teaching Assistant</h3>
                <img class="tamu-icon" src="../assets/icons/icons-tamu.png" />
              </div>
              <p>
                As a teaching assistant, I am putting forth my best to provide
                aid for incoming and aspiring students in computer science
                related fields. Within this position, I am responsible for
                helping students progress and refine their understanding and
                development of essential programming concepts and problem
                solving skills. I am part responsible for the development,
                refinement, and maintenance of the autograder which runs
                thousands of tests to ensure the correctness of student
                submissions and provides breakdowns of the student's code for
                their errors and passes. This opportunity offers myself the
                chance to understand the teamwork and efforts required to
                operate a course teaching over 1000 students semesterly.
              </p>
            </div>
          </div>
          <div class="pane">
            <div class="pane-content">
              <div class="pane-header">
                <h3>Peer Teacher</h3>
                <img class="tamu-icon" src="../assets/icons/icons-tamu.png" />
              </div>
              <p>
                As a peer teacher, I am responsible for aiding and facilitating
                all students within the Texas A&M University ecosystem who wish
                to pursue development in the Computer Science field. I offer aid
                for concepts and skills ranging from simply running code to how
                cpu is built and communicated with 0s and 1s. On a daily
                occurrence, I find myself working with students of numerous
                different cultural and educational backgrounds. This unique
                setting allows myself to grow my ability to connect and
                empathize with others and ultimately use that to help them grow
                both personally and professionally. As I increase my own soft
                and technical skills, I reinforce my ability to enable my peers
                to succeed in their own respective careers.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="background-image"></div>
  </body>
  <script src="../scripts/pages.js"></script>
</html>
