<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/app.css" />
    <title>Art Young</title>
  </head>
  <body class="page-container" id="introduction-page-container">
    <div class="header-container">
      <div class="nav-container">
        <a class="name-header" href="../index.html">Art Young</a>
        <nav class="navbar">
          <a class="nav-link viewing" href="introduction.html">Introduction</a>
          <a class="nav-link" href="projects.html">Projects</a>
          <a class="nav-link" href="experiences.html">Experiences</a>
          <a class="nav-link" href="passions.html">Passions</a>
        </nav>
      </div>
      <div class="external-link-container">
        <a
          class="external-link-item"
          href="mailto:art.tyoung@tamu.edu"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/gmail-100.svg"
            alt="gmail icon"
          />
        </a>
        <a
          class="external-link-item"
          href="https://www.linkedin.com/in/young-art/"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/linkedin-100.svg"
            alt="linkedin icon"
          />
        </a>
        <a
          class="external-link-item"
          href="https://github.com/Atsubyo"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/github-100.svg"
            alt="github icon"
          />
        </a>
        <a
          class="external-link-item"
          id="instagram-link"
          href="https://instagram.com/art.tyoung?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/instagram-100.svg"
            alt="instagram icon"
          />
        </a>
        <a
          class="external-link-item"
          id="discord-link"
          href="https://discordapp.com/users/447592354610675722"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/discord-100.svg"
            alt="discord icon"
          />
        </a>
        <a
          class="external-link-item"
          id="facebook-link"
          href="https://www.facebook.com/Atsubyo/"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/facebook-100.svg"
            alt="facebook icon"
          />
        </a>
      </div>
    </div>
    <div class="content-container">
      <section class="wrapper" id="introduction">
        <h2 class="section-header">Introduction</h2>
        <p class="section-paragraph">
          Art Young is a junior and aspiring Spring 2025 graduate at Texas A&M
          University in the College of Engineering majoring in Computer Science.
          His most important motto in life is to never take the support of
          others for granted. He always makes his best effort to value and
          leverage the thoughts of everyone around him in order to ensure their
          voices are heard and acknowledged.
        </p>
        <p class="section-paragraph">
          While his focus is in Computer Science, his goal is to generate an
          impact that can be seen across a multitude of fields both academically
          and socially. As an aspiring full stack and frontend developer, Art
          aims to apply and express his creativity to enhance user experience to
          ensure efficient, accessible, and intuitive application design.
        </p>
        <p class="section-paragraph">
          With just a little over 2 years of software development experience,
          Art is pushing forward everyday to learn and grow as much as possible.
        </p>
      </section>
    </div>
    <div class="background-image"></div>
  </body>
  <script src="../scripts/pages.js"></script>
</html>
