<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/app.css" />
    <title>Art Young</title>
  </head>
  <body class="page-container" id="projects-page-container">
    <div class="header-container">
      <div class="nav-container">
        <a class="name-header" href="../index.html">Art Young</a>
        <nav class="navbar">
          <a class="nav-link" href="introduction.html">Introduction</a>
          <a class="nav-link viewing" href="projects.html">Projects</a>
          <a class="nav-link" href="experiences.html">Experiences</a>
          <a class="nav-link" href="passions.html">Passions</a>
        </nav>
      </div>
      <div class="external-link-container">
        <a
          class="external-link-item"
          href="mailto:art.tyoung@tamu.edu"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/gmail-100.svg"
            alt="gmail icon"
          />
        </a>
        <a
          class="external-link-item"
          href="https://www.linkedin.com/in/young-art/"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/linkedin-100.svg"
            alt="linkedin icon"
          />
        </a>
        <a
          class="external-link-item"
          href="https://github.com/Atsubyo"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/github-100.svg"
            alt="github icon"
          />
        </a>
        <a
          class="external-link-item"
          id="instagram-link"
          href="https://instagram.com/art.tyoung?igshid=OGQ5ZDc2ODk2ZA=="
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/instagram-100.svg"
            alt="instagram icon"
          />
        </a>
        <a
          class="external-link-item"
          id="discord-link"
          href="https://discordapp.com/users/447592354610675722"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/discord-100.svg"
            alt="discord icon"
          />
        </a>
        <a
          class="external-link-item"
          id="facebook-link"
          href="https://www.facebook.com/Atsubyo/"
          target="_blank"
        >
          <img
            class="external-link-icon"
            src="../assets/icons/social-media/rectangle/facebook-100.svg"
            alt="facebook icon"
          />
        </a>
      </div>
    </div>
    <div class="content-container">
      <section class="wrapper" id="projects">
        <h2 class="section-header">Projects</h2>
        <div class="card-container">
          <div class="card">
            <div class="card-content card-front">
              <h2>01</h2>
              <div class="card-front-container">
                <h3>EASE GPO</h3>
                <h4 class="project-role-header">
                  - Full Stack Developer - Frontend Expert -
                  <br />
                  - Site Reliability Engineer -
                </h4>
                <p>
                  Web applicaiton developed to enable and streamline existing
                  cybsecurity infrastructures and workflows. An internal tool
                  that now serves an impact to employees across the entire firm.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">JPMorgan Chase & Co.</div>
              <div class="project-tools-header">
                - ReactJS - Flask - Powershell - Internal APIs -
                <br />
                - Agile - Jira -
              </div>
              <div class="card-back-container">
                <p>
                  Request hub for users who wish to request changes to GPOs and
                  firewall rules in a virtual machine environment. User
                  authenticated protection to prevent unsolicited persmissions.
                  Ensures mitigation of human error through multi-layered
                  validation processing. Automation is enabled and optimized via
                  robust scripting. This application decreases the menial
                  workload for SRE members from potentially hours to just a few
                  minutes.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content card-front">
              <h2>02</h2>
              <div class="card-front-container">
                <h3>Chick-Fil-A POS</h3>
                <h4 class="project-role-header">
                  - Software Engineer - Agile Product Manager -
                </h4>
                <p>
                  A point of sales system developed and curated for Chick-Fil-A.
                  Developed to simplify existing infrastructures and increase
                  accessibility to expand scope of target audience.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">School Project</div>
              <div class="project-tools-header">
                - PERN Stack - PostgreSQL - Java - Google OAuth -
                <br />
                - Google Translate - WeatherAPI - Agile -
              </div>
              <div class="card-back-container">
                <p>
                  In a span of two months, our team of four developed a web
                  hosted application which supported full functionalities of a
                  typical POS. In addition to essential ordering features, we
                  provided various accessibility features such as translators,
                  image and file support, and intuitive usage. As an Agile
                  Product Manager, I was able to find exposure to various new
                  perspectives and the depth of work required to develop and
                  application.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content card-front">
              <h2>03</h2>
              <div class="card-front-container">
                <h3>Virtual Vender</h3>
                <h4 class="project-role-header">- Full Stack Developer -</h4>
                <p>
                  Virtual vending machine system that simulates purchases of any
                  food, beverage, or good desirable. System is used as a proof
                  of concept for a quick buy and grab online retail service.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">School Project</div>
              <div class="project-tools-header">- Java - JavaFX - Git -</div>
              <div class="card-back-container">
                <p>
                  Over the course of a month, I used my newly learned skills to
                  develop and document a fully functional virtual purchasing
                  system. Through this application, users would be able to
                  easily view and select whatever item they'd like whether it'd
                  be a food, beverage, or some other consumer good. The
                  application interface is designed to provide a quick and
                  efficient experience so users' time is spent as wasteless as
                  possible.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content card-front">
              <h2>04</h2>
              <div class="card-front-container">
                <h3>C++ STL Class Parodies</h3>
                <h4 class="project-role-header">- Software Engineer -</h4>
                <p>
                  Rewrite and deep dive of the C++ Standard Libraries such as
                  Strings, Vectors, Maps, and much more. These endeavors offered
                  insight on the thought and consideration behind new language
                  development.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">School Project</div>
              <div class="project-tools-header">- C++ -</div>
              <div class="card-back-container">
                <p>
                  This four month journey involved the exploration of underlying
                  concepts for the most widely used C++ Standard Libraries:
                  String, Vector, List, and Unordered Map. Garnered a much
                  deeper understanding of programming topics like rule of five,
                  iterators, memory management, and essential data structures.
                  Many of these classes found myself incorporating various
                  technical concepts from sorting algorithms to tree/graph
                  algorithms.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content card-front">
              <h2>05</h2>
              <div class="card-front-container">
                <h3>Discord Clone</h3>
                <h4 class="project-role-header">- Full Stack Developer -</h4>
                <p>
                  A desktop application developed on Microsoft's .NET framework
                  with the use of XML markup language and a C# foundation.
                  Imitates the desirable features of Discord.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">Personal Project</div>
              <div class="project-tools-header">
                - C# - .NET Framework - MVVM Architecture -
                <br />
                - Windows Presentation Foundation (WPF) -
              </div>
              <div class="card-back-container">
                <p>
                  A personal endeavor where I aimed to develop my own take on
                  Discord by taking my favorite features and incorporating into
                  my own application and in a new tech stack. The application
                  parodies Discord's key features such as channels, direct
                  messaging, voice and video chat, and friends system. This
                  experience offered myself the chance to become more familiar
                  with Microsoft's popular framework .NET and the features that
                  come with it.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content card-front">
              <h2>06</h2>
              <div class="card-front-container">
                <h3>Dungeon Crawler</h3>
                <h4 class="project-role-header">- Software Developer -</h4>
                <p>
                  Console hosted puzzle game where players attempt to escape a
                  mapped out dungeon. Challenges include finding the correct
                  path, avoiding monsters, and collecting keys to exit dungeon
                  doors.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">School Project</div>
              <div class="project-tools-header">- C++ -</div>
              <div class="card-back-container">
                <p>
                  In just a two week period, I was able fully develop and test a
                  fully functional classical dungeon runner game. Due to C++ low
                  level capabilities, larger and more impressive level renders
                  could be used sizing upwards to over 2,000,000,000 units.
                  Intuitive controls are implemented via keryboard integrated
                  controls. Using strictly C++ gave me a greater understanding
                  insight of the language's computational capabilities.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content card-front">
              <h2>07</h2>
              <div class="card-front-container">
                <h3>Game of Pig</h3>
                <h4 class="project-role-header">
                  - Game Designer - Product Lead -
                  <br />
                  - Software Developer -
                </h4>
                <p>
                  Two player console hosted numbers strategy game where players
                  inquire upon chance and probability, via dice rolling
                  simulation, to reach a target score before their opponent.
                </p>
              </div>
              <button class="flip-button flip-front">Read More</button>
            </div>
            <div class="card-content card-back">
              <div class="project-header">Personal Project</div>
              <div class="project-tools-header">- Python -</div>
              <div class="card-back-container">
                <p>
                  Game replecating the classic dice game of pig created by John
                  Scarne. As a team of four, I lead three others in developing
                  this console game and aiding the implementation of the game
                  logic and user interface. Working alonside partners of vastly
                  varying backgrounds, I was able to gain perspectives on the
                  technical knowledge different fields may have and find ways to
                  apply their strengths into a programming project like we had.
                </p>
              </div>
              <button class="flip-button flip-back">Go Back</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="background-image"></div>
  </body>
  <script src="../scripts/pages.js"></script>
</html>
