@import url("./menu.css");
@import url("./circularLinks.css");
@import url("introduction.css");
@import url("./navbar.css");
@import url("./animations.css");

:root {
	font-family: monospace;
	--text-color-light: #435d86;
	--background-color-light: rgb(113, 108, 132);

	--text-color-dark: #c2d9ff;
	--background-color-dark: rgb(113, 108, 132);
}

body {
	color: var(--text-color-light);
	margin: 0;
}

#landing-page-body {
	overflow: hidden;
}

.page-container {
	overflow-x: hidden;
}

.content-container {
	width: 100dvw;
	height: 100;
	background-color: #a2a0b3;
	line-height: 2;
	font-size: 1.5rem;
}
