.section-header {
	margin-block-start: 0;
	margin-block-end: 0px;
	padding-block-start: 0.83em;
	padding-block-end: 0.83em;
	transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: 2s ease-out 0s 1 fadeInFromTop;
}

.wrapper {
	width: min(100% - 3rem, 65ch);
	margin-inline: auto;
}

.section-paragraph {
	transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: 2.5s ease 0s 1 fadeIn;
}
