.nav-container {
	user-select: none;
}

.navbar {
	width: 100%;
}

.translate {
	transform: translateX(20px);
}

.name-header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.5em;
	color: #435d86;
	display: block;
	text-decoration: none;
	transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: 2s ease-out 0s 1 fadeInFromTop;
}

.nav-link {
	--hover-position: 5px;
	--viewing-position: 10px;
	color: #435d86;
	font-size: 2em;
	display: block;
	padding: 1rem 1.5rem;
	text-decoration: none;
	transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: 2s ease-out 0s 1 fadeInFromLeft;
}

.nav-link.viewing {
	animation-name: fadeInFromLeftViewing;
}

.nav-link:hover {
	transform: translateX(var(--hover-position));
}

.viewing {
	transform: translateX(var(--viewing-position));
}

.viewing:hover {
	transform: translateX(
		calc(var(--viewing-position) + var(--hover-position))
	);
}

.external-link-container {
	padding-inline-start: 0;
	width: fit-content;
	display: flex;
	flex-direction: column;
}

.external-link-item {
	height: 100px;
	width: 100px;
}

@media (width > 1365px) {
	.nav-container {
		padding: 1rem;
		z-index: 1;
		top: 0;
		position: fixed;
	}

	.external-link-container {
		padding: 1.5rem 1rem 1rem 1rem;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
	}
}

@media (width <= 1365px) {
	.nav-container {
		background-color: #a2a0b3;
		padding: 1rem;
	}

	.external-link-container {
		padding: 1.5rem 1rem 1rem 1rem;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	.name-header {
		width: 40vw;
	}
}
