<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles/app.css" />
		<title>Document</title>
	</head>
	<body>
		<section id="about-me">
			<h1>About Me</h1>
			<div>
				<img
					id="profile-picture"
					alt="Profile Picture of Art Young"
					src="./public/profile-pic.jpeg"
				/>
				<p>
					My name is Art Young and I am a Junior at Texas A&M University
					pursuing a major in Computer Science. You can find more about my self
					on my
					<a href="https://atsubyo.github.io" target="_blank"
						>personal website</a
					>.
				</p>
			</div>
		</section>
		<section id="why-csce432">
			<h1>Why CSCE 432 - Accessible Computing</h1>
			<p>
				I am currently taking CSCE 432 (Accessible Computing) because I believe
				there many valuable concepts I can take away from the course and apply
				in my future career. I believe it is crucial to be able to udnerstand
				people and users from every possible perspective. I believe it is the
				goal of the programmer to be able to cater accordingly to the consumer
				of the product. Not being fully exposed to various disabilities tells
				myself that I am not yet capable as a developer.
			</p>
		</section>
		<section id="travel">
			<h1>Travel</h1>
			<div>
				<img
					id="golden-state-bridge-image"
					alt="Picture of the Golden State Bridge"
					src="./public/golden-state-bridge.jpeg"
				/>
				<div>
					<p>
						One of my favorite things to do is travel. Some places I have
						traveled to are:
					</p>
					<ul>
						<li>San Francisco, California</li>
						<li>New York City, New York</li>
						<li>Philadelphia, Pennsylvania</li>
						<li>Boston, Massachusetts</li>
						<li>Toronto, Canada</li>
						<li>Tokyo, Japan</li>
						<li>Shanghai, China</li>
					</ul>
				</div>
			</div>
		</section>
		<table>
			<tbody>
				<tr>
					<th>one</th>
					<th>two</th>
					<th>three</th>
				</tr>
				<tr>
					<td>one</td>
					<td>two</td>
					<td>three</td>
				</tr>
				<tr>
					<td>one</td>
					<td>two</td>
					<td>three</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
