@import "./navbar.css";
@import "./scrollbar.css";
@import "./section.css";

html {
	scroll-behavior: smooth;
	font-family: monospace;
}

body {
	margin: 0;
	font-size: 1.5rem;
	line-height: 2;
}

.scroll-container {
	position: relative;
}
