@import url("menu.css");
@import url("circularLinks.css");
@import url("pages.css");
@import url("card.css");
@import url("pane.css");
@import url("navbar.css");
@import url("animations.css");

html {
  min-width: 474px;
}

:root {
  font-family: monospace;
  --text-color-light: #435d86;
  --background-color-light: rgb(113, 108, 132);

  --text-color-dark: #c2d9ff;
  --background-color-dark: rgb(113, 108, 132);
}

body {
  color: var(--text-color-dark);
  margin: 0;
  background-color: rgb(41, 44, 65);
  background-image: url("../assets/background/sf-evening-sky.jpeg");
  background-position: center 40%;
  background-size: cover;
}

#landing-page-body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
}

#landing-page-body {
  overflow: hidden;
}

.landing-page-container {
  overflow: hidden;
}

.landing-page-content {
  transition: opacity 1s ease;
}

.background-image {
  background-image: url("../assets/background/sf-evening-sky.jpeg");
  background-position: center 40%;
  background-size: cover;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: -1;
}

.background-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
}

.page-container .background-image {
  background-attachment: fixed;
  position: fixed;
}
