@import url("menu.css");
@import url("circularLinks.css");
@import url("pages.css");
@import url("card.css");
@import url("pane.css");
@import url("navbar.css");
@import url("animations.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

html {
  min-width: 474px;
}

:root {
  font-family: monospace;
  --text-color-dark: #435d86;
  --text-color-light: #c2d9ff;
  --background-color-dark: rgb(41, 44, 65);
  --glass-background: rgba(180, 189, 201, 0.2);
  --glass-foreground: #3a5138;
}

body {
  color: var(--text-color-light);
  margin: 0;
  background-color: var(--background-color-dark);
  background-image: url("../assets/background/sf-evening-sky.jpeg");
  background-position: center 40%;
  background-size: cover;
}

#landing-page-body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
}

#landing-page-body {
  overflow: hidden;
}

.landing-page-container {
  overflow: hidden;
}

.landing-page-content {
  transition: opacity 1s ease;
}

.background-image {
  background-image: url("../assets/background/sf-evening-sky.jpeg");
  background-position: center 40%;
  background-size: cover;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: -1;
}

.background-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
}

.page-container .background-image {
  background-attachment: fixed;
  position: fixed;
}
