.nav-container {
	mix-blend-mode: difference;
	width: fit-content;
}

.navbar {
	width: 100%;
}

.name-header {
	text-transform: uppercase;
	display: block;
	font-size: 2em;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: 700;
	text-decoration: none;
}

nav a {
	display: block;
	padding: 1rem 1.5rem;
	text-decoration: none;
	transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav a:hover {
	transform: translateX(10px);
}

@media (width > 1450px) {
	.nav-container {
		padding: 1rem;
		z-index: 1;
		top: 0;
		position: sticky;
	}

	.name-header {
		color: #fff;
	}

	nav a {
		color: #fff;
	}
}

@media (width <= 1450px) {
	.nav-container {
		padding: 1rem;
	}

	.name-header {
		width: 40vw;
	}

	.name-header {
		color: #000;
	}

	nav a {
		color: #000;
	}
}
